.logo {
    
}

.pesquisa {
    text-align: right;
}

.coisassla {
    text-align: center;
    height: 36px;
    line-height: 36px;
    background-color: black;
    color: white;
}

.outracoisasla {
    margin-bottom: 15px;
    border-bottom: 1px solid #989898;
    padding-bottom: 2px;
}